---
name: merchants
url: /merchants
controller: ListMerchantsCtrl
---

<div class="grid-container">

  <h3>Merchants</h3>

  <a class="small button" ui-sref="add-merchant"><img zf-iconic="" icon="chevron" size="small">Add merchant</a>

  <table>
    <thead>
    <tr>
      <th width="15%">ID</th>
      <th width="65%">Name</th>
      <th width="10%">Payback</th>
      <th width="9%">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="merchant in page._embedded.merchants">
      <td>{{ merchant.id }}</td>
      <td>{{ merchant.name }}</td>
      <td>{{ merchant.paybackPolicy.percentage * 100 | number:2 }}%</td>
      <td>
        <a ui-sref="edit-merchant({id: merchant.id })">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
